.mypy_cache/
/.coverage
/.coverage.*
/.nox/
/.python-version
/.pytype/
/dist/
/docs/_build/
/src/*.egg-info/
__pycache__/
.venv
*.pyc
build/
public/
*.parquet
*.zip
*.csv
.ipynb_checkpoints
.ruff_cache
